.about-page {
    margin: 100px;
    margin-top: 50%;
    padding: 20px;
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #b099d2;
    /* Card background color */
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* Transition for hover effect */
}

.card:hover {
    transform: scale(1.05);
    /* Grow on hover */
}

.info {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #7700ff;
    /* Button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e00b8;
    /* Darker color on hover */
}