* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
.about-page {
    margin: 100px;
    margin-top: 50%;
    padding: 20px;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #36303a;
    box-shadow: rgba(60, 38, 77, 0.5) 0px 20px 30px -10px;
    text-align: center;
    align-items: center;
    /* Card background color */
    width: 250px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Transition for hover effect */
}

.card:hover {
    transform: scale(1.05) rotate(5deg);
    /* Grow on hover */
}

.card img {
    width: 150px;
    height: auto;
}

.info {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #7700ff;
    /* Button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e00b8;
    /* Darker color on hover */
}

@media (max-width: 1024px) {
    .about-page {
        margin: 20px;
        margin-top: 200%;
        /* Adjust the margin-top for better spacing */
    }

    .card-container {
        justify-content: center;
        /* Center cards horizontally on smaller screens */
    }

    .card {
        width: calc(33.33% - 40px);
        /* Adjust card width to fit 3 cards per row */
        margin: 10px;
        /* Adjust margin for better spacing between cards */
    }
}

@media (max-width: 800px) {
    .card img {
        width: 70px;
        height: auto;
    }
    .card{
        font-size: 10px;
    }
}